/* src/components/Feedback/Feedback.module.css */
.feedbackContainer {
  border: 2px solid rgb(75, 75, 74);
  padding: 10px;
  background-color: aliceblue;
}

.stat {
  font-size: 14px;
  margin: 5px 0;
  color: #333;
}
