/* src/components/App/App.module.css */
.appContainer {
  border: 1px solid rgb(75, 75, 74);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: blue; /* Açıklama için mavi renk */
  margin-bottom: 20px;
}
